<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<script src="/js/jsutils4spring.js"></script>
<script src="/js/test.js"></script>

<link rel="stylesheet" th:href="@{/css/test.css}">

</head>
<body>
<div id="waiting-div"></div>
<div id="jsutils-dialog-wrapper">
	<div id="jsutils-dialog">
		<div id="jsutils-dialog-title">This is the Title</div>
		<div id="jsutils-dialog-close">&times;</div>
		<div id="jsutils-dialog-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </div>
	</div>
</div>
<button id="open-dialog-button">Open</button>
</body>
</html>